html,
body,
header {
    margin: 0;
    padding: 0;
}

.TUDO {
    display: flexbox;
    justify-content: center;
}

.topo {
    width: 1300px;
    height: 210px;
    background-color: rgb(255, 136, 0);
    background-position: left;
    position: relative;
    top: -80px;
}

.inferior {
    width: 1300px;
    height: 100px;
    background-color: rgb(255, 136, 0);
    background-position: left;
    position: relative;
    top: 80px;
}

.input {
    position: relative;
    top: 40px;
    margin-left: 100px;
}

.botaoEnvio {
    position: relative;
    top: -21px;
    margin-left: 520px;
}

.online {
    width: 15px;
    height: 15px;
    background-color: rgb(0, 255, 0);
    background-position: left;
    border-style: ridge;
    border-width: thin;
    border-left-color: rgb(0, 255, 0);
    border-right-color: rgb(0, 255, 0);
    border-top-color: rgb(0, 255, 0);
    border-bottom-color: rgb(0, 255, 0);
    border-radius: 50px 50px 50px 50px;
    margin-left: 120px;
}

.foto {
    border-radius: 50%;
    border-radius: 200px 200px 200px 200px;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

.Online {
    position: relative;
    top: -40px;
    margin-left: 20px;
}

.XaropinhoBOT {
    position: relative;
    top: 100px;
    margin-left: 140px;
}