html,
body,
header {
    margin: 0px;
    padding: 0px;
}

.chat-body{
    background-color: aquamarine;
}

.TUDO {
    display: flexbox;
    justify-content: center;
}


.input {
    position: relative;
    top: 40px;
    margin-left: 100px;
}

.botaoEnvio {
    position: relative;
    top: -21px;
    margin-left: 520px;
}


.XaropinhoBOT {
    position: relative;
    top: 100px;
    margin-left: 140px;
}

.container-mensagem{
    width: 100%;
}

.mensagem{
    background-color: blueviolet;
    padding: 12px;
    margin: 12px;
    width: fit-content;
    max-width: 260px;
    border-radius: 12px;
}

.recebido{
    align-content: flex-start;
}

.enviado{
    align-content: flex-end;
}

.container-mensagem{
    display: flex;
}